# AlertAI - Model Saving
This notebook is responsible showing the data and its features with the goal of improve the knowledge and understanding of the problem that we face.
This work is integrated whitin the pipeline of AlertAI component in RideCare Project.

#### by PEILoad

### The steps of this task are:
1. Import Required Libraries 
2. Acquire the Data
3. Build Fast Model
4. Save Model
5. Load Model trained

## 1. Import Libraries
This section, as name says, is destined to import the libraries that will be used in the file.

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm

## 2. Data Acquisition
Step corresponding to gather the Data in order to manipulate it later on.

In [3]:
dataSensor1 = pd.read_csv('data/sensor1_raw_all.csv')
dataSensor2 = pd.read_csv('data/sensor2_raw_all.csv')

## 3. Data Visualization
Where we see whats happening!
Section where the data will be shown and worked to better understand what is in front of us.

#### Dataset Preview

In [4]:
print('Number of elements:', dataSensor1.shape[0])
dataSensor1.head()

Number of elements: 438

,sensor1.id,sensor1.carId,sensor1.carLocation,sensor1.timeValue,sensor1.pm25,sensor1.pm10,sensor1.tags,sensor1.classification
0,732,66-ZZ-66,41.5608 -8.3968,2020-11-25 12:50:36,6.3,10.8,"Não existência de fumo, vidros fechados, AC li...",0
1,731,66-ZZ-66,41.5608 -8.3968,2020-11-25 12:50:25,6.3,10.3,"Não existência de fumo, vidros fechados, AC li...",0
2,730,66-ZZ-66,41.5608 -8.3968,2020-11-25 12:50:14,6.2,8.4,"Não existência de fumo, vidros fechados, AC li...",0
3,729,66-ZZ-66,41.5608 -8.3968,2020-11-25 12:50:03,6.1,8.4,"Não existência de fumo, vidros fechados, AC li...",0
4,728,66-ZZ-66,41.5608 -8.3968,2020-11-25 12:49:52,6.3,8.9,"Não existência de fumo, vidros fechados, AC li...",0

In [5]:
print('Number of elements:', dataSensor2.shape[0])
dataSensor2.head()

Number of elements: 438

,sensor2.id,sensor2.carId,sensor2.carLocation,sensor2.timeValue,sensor2.temperature,sensor2.gas,sensor2.humidity,sensor2.pressure,sensor2.altitude,sensor2.tags,sensor2.classification
0,732,66-ZZ-66,41.5608 -8.3968,2020-11-25 12:50:14,21.988203,56356,36.050692,974.004353,331.993571,"Não existência de fumo, vidros fechados, AC li...",0
1,731,66-ZZ-66,41.5608 -8.3968,2020-11-25 12:50:03,21.978437,56176,36.341460,974.125433,330.952789,"Não existência de fumo, vidros fechados, AC li...",0
2,730,66-ZZ-66,41.5608 -8.3968,2020-11-25 12:49:53,21.961445,56356,36.456648,974.275221,329.665380,"Não existência de fumo, vidros fechados, AC li...",0
3,729,66-ZZ-66,41.5608 -8.3968,2020-11-25 12:49:42,21.942695,55609,36.864439,974.413624,328.475957,"Não existência de fumo, vidros fechados, AC li...",0
4,728,66-ZZ-66,41.5608 -8.3968,2020-11-25 12:49:31,21.916328,55574,36.762279,974.576691,327.074761,"Não existência de fumo, vidros fechados, AC li...",0

### Get Unified Data

In [6]:
part1 = dataSensor1[['sensor1.pm25', 'sensor1.pm10']]
part2 = dataSensor2[['sensor2.temperature', 'sensor2.gas', 'sensor2.humidity', 'sensor2.pressure', 'sensor2.altitude']]
data = part1.join(part2)
target = dataSensor1[['sensor1.classification']]

In [7]:
data.head()

,sensor1.pm25,sensor1.pm10,sensor2.temperature,sensor2.gas,sensor2.humidity,sensor2.pressure,sensor2.altitude
0,6.3,10.8,21.988203,56356,36.050692,974.004353,331.993571
1,6.3,10.3,21.978437,56176,36.341460,974.125433,330.952789
2,6.2,8.4,21.961445,56356,36.456648,974.275221,329.665380
3,6.1,8.4,21.942695,55609,36.864439,974.413624,328.475957
4,6.3,8.9,21.916328,55574,36.762279,974.576691,327.074761

In [8]:
target.head()

   sensor1.classification
0                       0
1                       0
2                       0
3                       0
4                       0

### Add some random 1s in target column -> half 0 / half 1

In [9]:
for index, row in target.iterrows():
    if((index %2) == 0):
        target.iloc[index]=1

/Users/tiagofontes/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-9-e8437daa0b2c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target.iloc[index]=1

In [10]:
target.head()
print(target)

     sensor1.classification
0                         1
1                         0
2                         1
3                         0
4                         1
..                      ...
433                       0
434                       1
435                       0
436                       1
437                       0

[438 rows x 1 columns]

### Simple Example with SVM

In [11]:
x_train,x_test, y_train, y_test = train_test_split(data, target, train_size=0.8,test_size=0.2, random_state=109)

In [12]:
clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(x_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

/Users/tiagofontes/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [13]:
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5113636363636364

## Save model trained

In [14]:
import pickle

In [15]:
# save the model to disk
filename = 'model_saves/svm_test.sav'
pickle.dump(clf, open(filename, 'wb'))

In [16]:
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(x_test, y_test)
print(result)

0.5113636363636364