In [41]:
import pandas as pd

In [42]:
data = pd.read_csv('data/raw_data_06_01.csv')

In [43]:
data.describe()

,sensors.id,sensors.pm25,sensors.pm10,sensors.temperature,sensors.gas,sensors.humidity,sensors.pressure,sensors.altitude,sensors.classification
count,9485.000000,9485.000000,9485.000000,9485.000000,9485.000000,9485.000000,9485.000000,9485.000000,9485.000000
mean,4988.355825,40.388614,82.556584,19.604423,92053.602319,56.085765,996.444239,141.361924,0.099736
std,2801.448560,142.099019,300.959419,3.837361,50388.143344,11.695782,11.987413,101.270944,0.405265
min,1.000000,0.000000,0.000000,10.512617,2971.000000,25.600421,955.262052,-81.183173,0.000000
25%,2612.000000,2.500000,5.800000,16.299141,51971.000000,49.847224,992.206784,86.572040,0.000000
50%,5036.000000,4.500000,9.500000,20.454805,80348.000000,53.208717,995.069364,152.477830,0.000000
75%,7407.000000,7.100000,14.800000,22.644063,137968.000000,66.340595,1002.894920,176.690952,0.000000
max,9799.000000,999.900000,1999.900000,27.949531,404575.000000,88.338576,1023.038997,494.377666,4.000000

In [44]:
ones = data[data['sensors.classification']==1]
#print(ones)

In [46]:
spray = data[data['sensors.classification']==2]
#print(spray)
#df['column name'] = df['column name'].replace(['old value'],'new value')
spray['sensors.classification'].replace([2], [1], inplace=True)
spray_with_1 = spray
spray_with_1.shape

/Users/tiagofontes/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4576: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

(65, 13)

In [47]:
zeros = data[data['sensors.classification']==0]
print(zeros.shape)
zeros = zeros[(zeros['sensors.pm25']<=30) & (zeros['sensors.classification']==0)]
print(zeros.shape)

(8774, 13)
(8716, 13)

In [48]:
all_1 = ones.append(spray_with_1)
print(all_1.shape)
all_1 = all_1[(all_1['sensors.pm25']>=90) & (all_1['sensors.classification']==1)]
print(all_1.shape)

(637, 13)
(618, 13)

In [49]:
final = zeros.append(all_1)
print(final.shape)

(9334, 13)

In [50]:
final.to_csv("data/clean_spray_with_1.csv",index=False)

In [59]:
perfume = data[data['sensors.classification']==4]
perfume.shape

(22, 13)

In [60]:
perfume['sensors.classification'].replace([4], [2], inplace=True)
perfume_2 = perfume

/Users/tiagofontes/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4576: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [61]:
print(perfume_2.shape)

(22, 13)

In [64]:
final = final.append(perfume_2)
final.shape

(9356, 13)

In [65]:
final.to_csv("data/clean_data_with_perf.csv",index=False)

In [ ]:
data[(data['sensors.pm25']<=90) & (data['sensors.classification']==1)]
data = data.drop(['Unnamed: 0','sensors.classification'],axis=1)
data = data.drop(['sensors.temperature','sensors.humidity','sensors.pressure'],axis=1)
data = data.drop(['sensors.gas'],axis=1)