In [1]:
import pandas as pd

In [41]:
data = pd.read_csv('data/raw_data_com_lixo.csv')
data.shape

(9918, 13)

In [28]:
data.describe()

,sensors.id,sensors.pm25,sensors.pm10,sensors.temperature,sensors.gas,sensors.humidity,sensors.pressure,sensors.altitude,sensors.classification
count,9918.000000,9918.000000,9918.000000,9918.000000,9918.000000,9918.000000,9918.000000,9918.000000,9918.000000
mean,5209.288667,40.138163,81.300252,19.048201,90691.783827,56.172711,996.074862,144.468503,0.312160
std,2928.395354,138.980839,294.389577,4.583943,49808.215782,11.491755,11.850805,100.107595,1.073837
min,1.000000,0.000000,0.000000,5.480391,2971.000000,25.600421,955.262052,-81.183173,0.000000
25%,2720.250000,2.500000,6.100000,14.996113,52000.000000,50.119175,990.410531,93.733384,0.000000
50%,5252.500000,4.600000,9.900000,20.417305,72817.000000,54.247614,994.789756,154.840408,0.000000
75%,7731.750000,7.900000,15.700000,22.562959,136900.000000,65.725348,1002.042187,191.913448,0.000000
max,10267.000000,999.900000,1999.900000,27.949531,404575.000000,88.338576,1023.038997,494.377666,5.000000

In [42]:
ones = data[data['sensors.classification']==1]
ones.shape
#print(ones)

(572, 13)

In [43]:
spray = data[data['sensors.classification']==2]
#print(spray)
#df['column name'] = df['column name'].replace(['old value'],'new value')
spray['sensors.classification'].replace([2], [1], inplace=True)
spray_with_1 = spray
spray_with_1.shape

/Users/tiagofontes/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4576: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

(65, 13)

In [44]:
zeros = data[data['sensors.classification']==0]
print(zeros.shape)
zeros = zeros[(zeros['sensors.pm25']<=30) & (zeros['sensors.classification']==0) & (zeros['sensors.pm25']>=0.8)]
print(zeros.shape)

(8777, 13)
(8584, 13)

In [45]:
all_1 = ones.append(spray_with_1)
print(all_1.shape)
all_1 = all_1[(all_1['sensors.pm25']>=90) & (all_1['sensors.classification']==1)]
print(all_1.shape)

(637, 13)
(618, 13)

In [46]:
final = zeros.append(all_1)
print(final.shape)

(9202, 13)

In [50]:
final.to_csv("data/clean_spray_with_1.csv",index=False)

In [47]:
perfume = data[data['sensors.classification']==4]
perfume.shape

(22, 13)

In [48]:
perfume['sensors.classification'].replace([4], [2], inplace=True)
perfume_2 = perfume

/Users/tiagofontes/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4576: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [49]:
print(perfume_2.shape)

(22, 13)

In [50]:
lixo = data[data['sensors.classification']==5]
lixo.shape

(430, 13)

In [51]:
lixo['sensors.classification'].replace([5], [3], inplace=True)
lixo_2 = lixo
lixo_2.shape

/Users/tiagofontes/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4576: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

(430, 13)

In [52]:
print(lixo)

     sensors.id sensors.carId sensors.carLocation    sensors.timeValue  \
0         10267      66-ZZ-66     41.5608 -8.3968  2021-01-11 18:05:16
1         10266      66-ZZ-66     41.5608 -8.3968  2021-01-11 18:05:11
2         10265      66-ZZ-66     41.5608 -8.3968  2021-01-11 18:05:22
3         10264      66-ZZ-66     41.5608 -8.3968  2021-01-11 18:05:17
4         10263      66-ZZ-66     41.5608 -8.3968  2021-01-11 18:05:11
..          ...           ...                 ...                  ...
425        9823      66-ZZ-66     41.5608 -8.3968  2021-01-11 16:11:14
426        9822      66-ZZ-66     41.5608 -8.3968  2021-01-11 16:08:09
427        9821      66-ZZ-66     41.5608 -8.3968  2021-01-11 16:08:03
428        9820      66-ZZ-66     41.5608 -8.3968  2021-01-11 16:07:58
429        9819      66-ZZ-66     41.5608 -8.3968  2021-01-11 16:07:53

     sensors.pm25  sensors.pm10  sensors.temperature  sensors.gas  \
0            24.3          33.3            16.428047        27311
1            24.8          33.7            16.417695        21813
2            21.5          32.9            16.138398        20667
3            20.5          32.7            16.098945        16627
4            19.6          32.1            16.058906        12869
..            ...           ...                  ...          ...
425           6.6          16.6            15.994063        10883
426           6.5          15.5            15.991914         9849
427           6.6          16.2            15.990937         8717
428           6.7          16.3            15.989961         7437
429           6.6          15.2            15.988398         6087

     sensors.humidity  sensors.pressure  sensors.altitude      sensors.tags  \
0           41.439519        988.597945        207.297041  Mau cheiro, Lixo
1           41.996162        988.597300        207.302521  Mau cheiro, Lixo
2           42.315917        988.556529        207.648805  Mau cheiro, Lixo
3           42.492421        988.555512        207.657449  Mau cheiro, Lixo
4           42.946642        988.550141        207.703068  Mau cheiro, Lixo
..                ...               ...               ...               ...
425         38.051619        987.310763        218.235349  Mau cheiro, Lixo
426         38.051415        987.310503        218.237561  Mau cheiro, Lixo
427         38.115732        987.310537        218.237269  Mau cheiro, Lixo
428         38.180075        987.308892        218.251253  Mau cheiro, Lixo
429         38.244390        987.311298        218.230799  Mau cheiro, Lixo

     sensors.classification
0                         3
1                         3
2                         3
3                         3
4                         3
..                      ...
425                       3
426                       3
427                       3
428                       3
429                       3

[430 rows x 13 columns]

In [53]:
final = final.append(perfume_2)
final.shape

(9224, 13)

In [54]:
final = final.append(lixo_2)
final.shape

(9654, 13)

In [55]:
final.to_csv("data/clean_data_with_lixo.csv",index=False)

In [ ]:
data[(data['sensors.pm25']<=90) & (data['sensors.classification']==1)]
data = data.drop(['Unnamed: 0','sensors.classification'],axis=1)
data = data.drop(['sensors.temperature','sensors.humidity','sensors.pressure'],axis=1)
data = data.drop(['sensors.gas'],axis=1)

# Create balanced dataset

In [24]:
dataset = pd.read_csv('data/clean_data_with_lixo.csv')
dataset.describe()

,sensors.id,sensors.pm25,sensors.pm10,sensors.temperature,sensors.gas,sensors.humidity,sensors.pressure,sensors.altitude,sensors.classification
count,9654.000000,9654.000000,9654.000000,9654.000000,9654.000000,9654.000000,9654.000000,9654.000000,9654.000000
mean,5275.699296,38.914844,74.896292,18.987952,91701.850425,56.284613,996.383401,141.853657,0.202196
std,2934.874627,137.718266,274.990741,4.559172,50029.899083,11.160394,11.723646,99.007977,0.658150
min,1.000000,0.800000,0.800000,5.480391,3362.000000,25.600421,955.262052,-81.183173,0.000000
25%,2736.250000,2.600000,6.400000,14.913105,52433.000000,50.254149,990.985484,89.378985,0.000000
50%,5384.500000,4.600000,10.000000,20.415156,76063.000000,54.263949,995.026971,152.835999,0.000000
75%,7797.750000,7.600000,15.500000,22.534639,137539.000000,65.842355,1002.560614,187.038528,0.000000
max,10267.000000,999.900000,1999.900000,27.949531,404575.000000,84.871095,1023.038997,494.377666,3.000000

In [25]:
zeros = dataset[dataset['sensors.classification']==0]
print(zeros.shape)
ones = dataset[dataset['sensors.classification']==1]
print(ones.shape)
twos = dataset[dataset['sensors.classification']==3]
print(twos.shape)

(8584, 13)
(618, 13)
(430, 13)

In [26]:
twos['sensors.classification'].replace([3], [2], inplace=True)
twos_2 = twos
twos_2.shape

/Users/tiagofontes/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4576: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

(430, 13)

In [31]:
from sklearn.utils import shuffle
zeros = shuffle(zeros)
ones = shuffle(ones)
twos_2 = shuffle(twos_2)

In [32]:
zeros_balanc = zeros.head(430)
ones_balanc = ones.head(430)
twos_balanc = twos_2.head(430)

In [34]:
zeros_balanc= zeros_balanc.append(ones_balanc)
balanced = zeros_balanc.append(twos_2)

In [35]:
balanced.to_csv("data/balanced_smoke_lixo.csv",index=False)